<div class="row p-t-60">
  <h1 style="text-align: center; font-weight: bold">Keys And Skills</h1>
  <div  *ngFor="let item of skillData" class="col-6 col-md-3">
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2 m-auto text-a-center">{{item.display}}</h2>

        <mat-progress-spinner class="m-auto" [mode]="mode" [value]="item.value">
        </mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="p-t-60 decription-container">
  <h1 style="text-align: center; font-weight: bold">Description</h1>
  <h3 style="text-align: center">
    My name is Tran Quoc Huy.
    I am a software engineer with at least 4 years of experience.
    I work for Sendo, an e-commerce technology company.
    I graduated very good from Posts and Telecommunications Institute of Technology Academy. 
    I have general knowledge in back-end application(API - gRPC - GraphQL) , 
    database and devops. 
    My programming languages i used to use are Golang , NodeJS and Python.
    I also have a bit of knowledge in data science, machine learning and blockchain </h3>
</div>
<div class="p-t-60">
  <h1 style="text-align: center; font-weight: bold">Contact</h1>
  <div style="text-align: left;padding-left: 5%;">
    <span style="font-weight: bold;">Email</span>: tqhuy1996.developer@gmail.com <br>
    <span style="font-weight: bold;">Phone</span>: 0946515847 <br>
    <span style="font-weight: bold;">Github</span>: https://github.com/smart-think-app
  </div>
</div>