.m-auto {
    margin: auto;
}

.text-a-center {
    text-align: center;
}

.p-t-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.decription-container {
    background-color: #673ab7;
    color: white;
}