@import '../../../colors.scss';
.m-auto {
    margin: auto;
}

.text-a-center {
    text-align: center;
}

.p-t-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.decription-container {
    background-color: $main-bg-color;
    color: white;
}

.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
.example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box {
    background-color: $main-bg-color;
    color: white;
}

.title-session {
    text-align: center;
    font-weight: bold;
    color: $main-bg-color;
}