.topics-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example-card {
    cursor: pointer;
}

@import '../../../colors.scss';

.load-more {
    cursor: pointer;
}

.load-more:hover {
    color: rgb(44, 44, 255);
}

.example-card {
    background-color: rgb(201, 201, 201);
    margin-top: 10px;
}