<div class="topics-container">
  <h1>Backend<span class="load-more">(Load more)</span></h1>
  <div class="row">
    <div *ngFor="let item of topTopicsDto.backend" class="col-6 col-md-3">
      <mat-card class="example-card" routerLink="detail/{{item.public_id}}">
        <mat-card-header>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.created_date }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ item.image_url }}" alt="Photo of tech" />
        <mat-card-content>
          <p>
            {{ item.short_body }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="topics-container">
  <h1>Devops</h1>
  <div class="row">
    <div *ngFor="let item of topTopicsDto.devops" class="col-6 col-md-3">
      <mat-card class="example-card" routerLink="detail/{{item.public_id}}">
        <mat-card-header>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.created_date | date}}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ item.image_url }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            {{ item.short_body }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
