.topics-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example-card {
    cursor: pointer;
}

.example-card:hover {
    background-color: #d3ccdf;
}

.load-more {
    cursor: pointer;
}

.load-more:hover {
    color: rgb(44, 44, 255);
}